# 분류 모델 숙제

In [1]:
import pandas as pd
import numpy as np

churn_train_data = pd.read_csv('data_sul/churn_train.csv')
churn_test_data = pd.read_csv('data_sul/churn_test.csv')

df_train = pd.DataFrame(churn_train_data)
df_test = pd.DataFrame(churn_test_data)

In [ ]:
# 결측치 없음
df_train.info()

<class 'pandas.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         6400 non-null   int64
 1   Age                 6400 non-null   int64
 2   Tenure_Months       6400 non-null   int64
 3   Monthly_Fee         6400 non-null   int64
 4   Total_Usage_GB      6400 non-null   int64
 5   Support_Tickets_3M  6400 non-null   int64
 6   Late_Payments_6M    6400 non-null   int64
 7   Contract            6400 non-null   str
 8   AutoPay             6400 non-null   int64
 9   Internet_Type       6400 non-null   str
 10  Has_Addon           6400 non-null   int64
 11  NPS_Score           6400 non-null   int64
 12  Region              6400 non-null   str
 13  Churn               6400 non-null   int64
dtypes: int64(11), str(3)
memory usage: 700.1 KB

In [6]:
df_train.describe()
# 이상치 없음

,Customer_ID,Age,Tenure_Months,Monthly_Fee,Total_Usage_GB,Support_Tickets_3M,Late_Payments_6M,AutoPay,Has_Addon,NPS_Score,Churn
count,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000,6400.000000
mean,23986.418906,43.295313,20.120781,68503.549844,378.990781,0.817500,0.510938,0.553281,0.446562,19.616875,0.259531
std,2320.146022,15.037027,13.974413,11963.755134,140.174917,0.900143,0.700192,0.497192,0.497175,34.573590,0.438412
min,20001.000000,18.000000,1.000000,35000.000000,30.000000,0.000000,0.000000,0.000000,0.000000,-94.000000,0.000000
25%,21957.750000,30.000000,10.000000,60485.500000,284.000000,0.000000,0.000000,0.000000,0.000000,-4.000000,0.000000
50%,23984.000000,43.000000,17.000000,68433.000000,379.000000,1.000000,0.000000,1.000000,0.000000,19.000000,0.000000
75%,26010.250000,56.000000,27.000000,76443.750000,474.000000,1.000000,1.000000,1.000000,1.000000,43.000000,1.000000
max,28000.000000,69.000000,72.000000,110676.000000,900.000000,6.000000,4.000000,1.000000,1.000000,100.000000,1.000000

In [28]:
from sklearn.preprocessing import OneHotEncoder

# 학습 데이터와 정답 데이터 분리
X_train = df_train.drop('Churn',axis=1)
y_train = df_train['Churn']

# str 데이터와 number 데이터 구분

X_train_str = X_train.select_dtypes(include='str').columns
X_train_num = X_train.select_dtypes(include='number').columns

ohe = OneHotEncoder()

In [30]:
# str 전처리 Contract, Internet_Type, Region
# 원-핫 인코딩 사용
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

X_scaled_str = ohe.fit_transform(X_train[X_train_str])